<div class="container">     
<div class="col-md-5 col-md-offset-3">
<div class="row">
<%= form_for @catg, :html => { :class => "form-horizontal catg" } do |f| %>

    <% if @catg.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@catg.errors.count, "error") %> prohibited this catg from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @catg.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%#= error_span(@catg[:name]) %>
  </div>
  
  <br/>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            catgs_path, :class => 'btn btn-default' %>

<% end %>
</div>
</div>
</div>